.card {
    margin: 20px auto;
    max-width: 600px;
    border: none;
    border-radius: 0.5rem;
}

.card-header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: var(--color-primary);
    color: var(--color-card-header-text);
}

.card-body {
    background-color: var(--color-bg-secondary);
    color: var(--color-text);
}

.form-label {
    font-weight: 500;
}

input.form-control::placeholder {
    color: var(--color-accent) !important;
}
