:root {
    --color-primary: #6366f1;
    --color-primary-dark: #4f46e5;
    --color-accent: #facc15;
    --color-bg: #f9fafb;
    --color-bg-secondary: #f3f4f6;
    --color-text: #1e293b;
    --color-link: var(--color-primary);
    --color-border: #e5e7eb;
    --color-card-header-bg: var(--color-bg-secondary);
    --color-card-header-text: var(--color-bg-secondary);
    --color-error: #ef4444;
    --color-valid: #22c55e;
    --color-error-bg: lightyellow; /* Added for error background */
    
    --sidebar-bg-start: #ffffff;
    --sidebar-bg-end: #edf2f7;

    --nav-bg: #ffffff;
    --nav-toprow-bg: var(--color-bg-secondary);
    --nav-link-color: #6b7280;
    --nav-link-active-bg: var(--color-primary);
    --nav-link-active-color: #ffffff;
    --nav-link-hover-bg: #ffffff;
    --nav-link-hover-color: var(--color-primary);
    --nav-icon-fill: var(--color-text);
    --nav-icon-active-fill: #ffffff;

    --bs-primary: var(--color-primary);
    --bs-primary-bg-subtle: color-mix(in srgb, var(--color-primary) 80%, white);
    --bs-light: var(--color-bg-secondary);
    --bs-dark: #4b5563;
    --bs-body-bg: var(--color-bg);
    --bs-border-color: var(--color-border);
    --bs-body-color: var(--color-primary);
}

.dark-theme {
    --color-primary: #8b5cf6;
    --color-primary-dark: #7c3aed;
    --color-accent: #fde047;
    --color-bg: #111827;
    --color-bg-secondary: #1f2937;
    --color-text: #f0f0f0;
    --color-link: var(--color-primary);
    --color-border: #374151;
    --color-card-header-bg: var(--color-bg-secondary);
    --color-card-header-text: var(--color-text);
    --color-error: #f87171;
    --color-valid: #86efac;
    --color-error-bg: #2d2d2d; /* Added for error background */
    --nav-bg: #1f2937;
    --nav-toprow-bg: var(--color-bg_secondary);
    --nav-link-color: #d1d5db;
    --nav-link-active-bg: var(--color-primary);
    --nav-link-active-color: #ffffff;
    --nav-link-hover-color: var(--color-primary);
    --nav-link-hover-bg: #ffffff;
    --nav-icon-fill: #f0f0f0;
    --nav-icon-active-fill: #ffffff;
    --sidebar-bg-start: #1f2937;
    --sidebar-bg-end: #111827;

    --bs-primary: var(--color-primary);
    --bs-primary-bg-subtle: color-mix(in srgb, var(--color-primary) 80%, black);
    --bs-light: var(--color-bg-secondary);
    --bs-dark: #e5e7eb;
    --bs-body-bg: var(--color-bg);
    --bs-body-color: var(--color-primary);
    --bs-border-color: var(--color-border);
}

/* Override Bootstrap classes using custom variables */
.btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary-dark) !important;
  color: var(#e5e7eb) !important;
}

.btn-primary:focus, .btn-primary:active {
  box-shadow: 0 0 0 0.25rem var(--color-primary-dark) !important;
}

.b.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  }

.bg-primary {
  background-color: var(--color-primary) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}

a, .btn-link {
  color: var(--color-link) !important;
}

a:hover, .btn-link:hover {
  color: var(--color-primary-dark) !important;
}

.text-error {
  color: var(--color-error) !important;
}

h1:focus {
    outline: none;
}